In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## EDA

In [2]:
dfa = pd.read_csv('../MyVizProject/data_cases_age.csv',na_values='',encoding = "ISO-8859-1")
dfa.head()

,ï»¿_id,Date,Country,Sex,SexQF,AgeGroup,AgeGroupQF,DailyPositive,CumulativePositive,CrudeRatePositive,DailyDeaths,CumulativeDeaths,CrudeRateDeaths,CumulativeNegative,CrudeRateNegative
0,1,20200228,S92000003,Female,NaN,0 to 14,NaN,0,0,0.0,0,0,0.0,7,1.659008
1,2,20200228,S92000003,Female,NaN,0 to 59,NaN,0,0,0.0,0,0,0.0,53,2.588223
2,3,20200228,S92000003,Female,NaN,15 to 19,NaN,0,0,0.0,0,0,0.0,2,1.451526
3,4,20200228,S92000003,Female,NaN,20 to 24,NaN,0,0,0.0,0,0,0.0,9,5.251182
4,5,20200228,S92000003,Female,NaN,25 to 44,NaN,0,0,0.0,0,0,0.0,20,2.775935

In [3]:
dfa = dfa.rename(columns = {'ï»¿_id':'id'})
dfa["Date"] = pd.to_datetime(dfa.loc[:, 'Date'], format='%Y%m%d')
dfa = dfa[['Date','Sex','AgeGroup','DailyPositive', 'DailyDeaths']]
dfa.head()

        Date     Sex  AgeGroup  DailyPositive  DailyDeaths
0 2020-02-28  Female   0 to 14              0            0
1 2020-02-28  Female   0 to 59              0            0
2 2020-02-28  Female  15 to 19              0            0
3 2020-02-28  Female  20 to 24              0            0
4 2020-02-28  Female  25 to 44              0            0

In [5]:
dfa = dfa.loc[(dfa.Date<='2021-06-30')]
dfa.head()

        Date     Sex  AgeGroup  DailyPositive  DailyDeaths
0 2020-02-28  Female   0 to 14              0            0
1 2020-02-28  Female   0 to 59              0            0
2 2020-02-28  Female  15 to 19              0            0
3 2020-02-28  Female  20 to 24              0            0
4 2020-02-28  Female  25 to 44              0            0

In [16]:
#dfg =dfa.groupby(['Date','AgeGroup']).sum()
#dfg

                     DailyPositive  DailyDeaths
Date       AgeGroup
2020-02-28 0 to 14               0            0
           0 to 59               2            0
           15 to 19              0            0
           20 to 24              0            0
           25 to 44              0            0
...                            ...          ...
2021-07-06 60+                 104            0
           65 to 74             36            0
           75 to 84             32            0
           85plus                8            0
           Total              1417            0

[5445 rows x 2 columns]

In [50]:
dfa.AgeGroup.unique()

array(['0 to 14', '0 to 59', '15 to 19', '20 to 24', '25 to 44',
       '45 to 64', '60+', '65 to 74', '75 to 84', '85plus', 'Total'],
      dtype=object)

In [13]:
age_info= dfa[dfa['Sex']=='Total'].groupby(['Sex', 'AgeGroup']).sum()
age_info

                DailyPositive  DailyDeaths
Sex   AgeGroup
Total 0 to 14           28078            3
      0 to 59          238808          501
      15 to 19          22522            0
      20 to 24          32140            5
      25 to 44          95215           66
      45 to 64          75376          777
      60+               48702         7231
      65 to 74          14254         1347
      75 to 84          11354         2539
      85plus             9184         2995
      Total            288244         7732

In [14]:
# EDA

age_info['Deaths_Percent']  = (age_info['DailyDeaths']/7732*100).round(2)
age_info['Cases_Percent']  = (age_info['DailyPositive']/288244*100).round(2)
age_info.reset_index(level=0, drop=True,inplace=True)
age_info
#321068 cases

          DailyPositive  DailyDeaths  Deaths_Percent  Cases_Percent
AgeGroup
0 to 14           28078            3            0.04           9.74
0 to 59          238808          501            6.48          82.85
15 to 19          22522            0            0.00           7.81
20 to 24          32140            5            0.06          11.15
25 to 44          95215           66            0.85          33.03
45 to 64          75376          777           10.05          26.15
60+               48702         7231           93.52          16.90
65 to 74          14254         1347           17.42           4.95
75 to 84          11354         2539           32.84           3.94
85plus             9184         2995           38.74           3.19
Total            288244         7732          100.00         100.00

In [ ]:
'18 - 29', '30 - 39', '40 - 49', '50 - 54',
       '55 - 59', '60 - 64', '65 - 69', '70 - 74', '75 - 79',
       '80 years and over'

In [ ]:
'0 to 59', '60+', '75+'

## EDA

In [15]:
dd_eda = {'AgeGroup': ['0-24','25-44','45-64','65-74','75+'], 'Deaths': [8,66,777,1347,5534], 'Deaths_Percent':[0.1,0.9,10.0,17.4,71.6]}
df_eda_d = pd.DataFrame(data=dd_eda)
df_eda_d

  AgeGroup  Deaths  Deaths_Percent
0     0-24       8             0.1
1    25-44      66             0.9
2    45-64     777            10.0
3    65-74    1347            17.4
4      75+    5534            71.6

In [16]:
dc_eda = {'AgeGroup': ['0-24','25-44','45-64','65-74','75+'], 'Cases': [96240,107004,81535,15086,21203], 'Cases_Percent':[28.7,33.0,26.2,4.9,7.1]}
df_eda_c = pd.DataFrame(data=dc_eda)
df_eda_c

  AgeGroup   Cases  Cases_Percent
0     0-24   96240           28.7
1    25-44  107004           33.0
2    45-64   81535           26.2
3    65-74   15086            4.9
4      75+   21203            7.1

In [17]:
df_eda_c[df_eda_c.AgeGroup.isin(['0-44','45-64','65-74'])].sum()

AgeGroup         45-6465-74
Cases                 96621
Cases_Percent          31.1
dtype: object

In [18]:
df_eda_d[df_eda_d.AgeGroup.isin(['0-44','45-64','65-74'])].sum()

AgeGroup          45-6465-74
Deaths                  2124
Deaths_Percent          27.4
dtype: object

In [26]:
df_eda_c.AgeGroup

0     0-24
1    25-44
2    45-64
3    65-74
4      75+
Name: AgeGroup, dtype: object

In [19]:
age_info[age_info.index.isin(['0 to 14','15 to 19','20 to 24'])].sum()

DailyPositive     82740.0
DailyDeaths           8.0
Deaths_Percent        0.1
Cases_Percent        28.7
dtype: float64

In [20]:
age_info[age_info.index.isin(['25 to 44'])].sum()

DailyPositive     95215.00
DailyDeaths          66.00
Deaths_Percent        0.85
Cases_Percent        33.03
dtype: float64

In [21]:
age_info[age_info.index.isin(['0 to 14','15 to 19','20 to 24','25 to 44'])].sum()

DailyPositive     177955.00
DailyDeaths           74.00
Deaths_Percent         0.95
Cases_Percent         61.73
dtype: float64

In [22]:
age_info[age_info.index.isin(['75 to 84','85plus'])].sum()

DailyPositive     20538.00
DailyDeaths        5534.00
Deaths_Percent       71.58
Cases_Percent         7.13
dtype: float64

In [23]:
age_info[age_info.index.isin(['65 to 74'])].sum()

DailyPositive     14254.00
DailyDeaths        1347.00
Deaths_Percent       17.42
Cases_Percent         4.95
dtype: float64

In [24]:
age_info[age_info.index.isin(['45 to 64'])].sum()

DailyPositive     75376.00
DailyDeaths         777.00
Deaths_Percent       10.05
Cases_Percent        26.15
dtype: float64

In [25]:
dd = {'AgeGroup': ['0-44','45-64','65-74','75+'], 'Deaths': [77,782,1350,5563], 'Deaths_Percent':[1.0,10.0,17.4,71.6]}
df_eda_d = pd.DataFrame(data=dd)
df_eda_d

  AgeGroup  Deaths  Deaths_Percent
0     0-44      77             1.0
1    45-64     782            10.0
2    65-74    1350            17.4
3      75+    5563            71.6

In [28]:
dc = {'AgeGroup': ['0-44','45-64','65-74','75+'], 'Cases': [ 203244,81535,15086,21203], 'Cases_Percent':[61.7,26.2,5.0,7.1]}
df_eda_c = pd.DataFrame(data=dc)
df_eda_c

  AgeGroup   Cases  Cases_Percent
0     0-44  203244           61.7
1    45-64   81535           26.2
2    65-74   15086            5.0
3      75+   21203            7.1

In [29]:
df_dc= df_eda_c.merge(df_eda_d, how="inner", on=["AgeGroup"])
df_dc = df_dc[['AgeGroup','Cases_Percent','Deaths_Percent']]
df_dc

  AgeGroup  Cases_Percent  Deaths_Percent
0     0-44           61.7             1.0
1    45-64           26.2            10.0
2    65-74            5.0            17.4
3      75+            7.1            71.6

In [36]:
dd = {'AgeGroup': ['0-59','60+','0-74','75+'], 'Deaths': [504,7236,2201,5539], 'Deaths_Percent':[6.5,93.5,28.4,71.6]}
df_eda_d1 = pd.DataFrame(data=dd)
df_eda_d1

  AgeGroup  Deaths  Deaths_Percent
0     0-59     504             6.5
1      60+    7236            93.5
2     0-74    2201            28.4
3      75+    5539            71.6

In [37]:
dc = {'AgeGroup': ['0-59','60+','0-74','75+'], 'Cases': [253073,49755,282726,20793], 'Cases_Percent':[83.6,16.4,93.2,6.8]}
df_eda_c1 = pd.DataFrame(data=dc)
df_eda_c1

#

  AgeGroup   Cases  Cases_Percent
0     0-59  253073           83.6
1      60+   49755           16.4
2     0-74  282726           93.2
3      75+   20793            6.8

In [38]:
df_dc1= df_eda_c1.merge(df_eda_d1, how="inner", on=["AgeGroup"])
#df_dc1 = df_dc1[['AgeGroup','Cases_Percent','Deaths_Percent']]
df_dc1

  AgeGroup   Cases  Cases_Percent  Deaths  Deaths_Percent
0     0-59  253073           83.6     504             6.5
1      60+   49755           16.4    7236            93.5
2     0-74  282726           93.2    2201            28.4
3      75+   20793            6.8    5539            71.6

In [60]:
df_eda_h1

  AgeGroup  NumberAdmitted  Admissions_Percent
0     0-74           16373                61.7
1      75+           10160                38.3

In [61]:
df_dch = df_dc1.merge(df_eda_h1, how="left", on=["AgeGroup"])
df_dch = df_dch[['AgeGroup','Cases_Percent','Deaths_Percent', 'Admissions_Percent']]
df_dch

  AgeGroup  Cases_Percent  Deaths_Percent  Admissions_Percent
0     0-59           83.6             6.5                 NaN
1      60+           16.4            93.5                 NaN
2     0-74           93.2            28.4                61.7
3      75+            6.8            71.6                38.3

In [62]:
df_dch.to_csv('output_eda_ages_deathscases.csv', index=False)
df_dc1

  AgeGroup   Cases  Cases_Percent  Deaths  Deaths_Percent
0     0-59  253073           83.6     504             6.5
1      60+   49755           16.4    7236            93.5
2     0-74  282726           93.2    2201            28.4
3      75+   20793            6.8    5539            71.6

## Hospital admissions eda

In [39]:
dfcum = pd.read_csv('../MyVizProject/Cum_hospital_admissions_age.csv', na_values='', index_col ='ï»¿_id',parse_dates=True, encoding = "ISO-8859-1")
dfcum.index.names = ['id']

dfcum = dfcum[['Sex','AgeGroup','NumberAdmitted']]
dfcum.head()

     Sex AgeGroup  NumberAdmitted
id
1   Male      0-4             172
2   Male     5-14             105
3   Male    15-19              75
4   Male    20-24             143
5   Male    25-44            1439

In [54]:
dfcumall= dfcum[dfcum['Sex']=='All'].groupby(['Sex', 'AgeGroup']).sum()
dfcumall.reset_index(inplace=True)
dfcumall.drop('Sex', axis=1, inplace=True)
dfcumall['Admissions_Percent']  = (dfcumall['NumberAdmitted']/26533*100).round(2)
dfcumall.set_index('AgeGroup',inplace=True)
dfcumall

          NumberAdmitted  Admissions_Percent
AgeGroup
0-4                  322                1.21
15-19                183                0.69
20-24                340                1.28
25-44               2918               11.00
45-64               7474               28.17
5-14                 199                0.75
65-74               4937               18.61
75-84               5852               22.06
85plus              4308               16.24
All Ages           26533              100.00

In [33]:
dfcumall[dfcumall['AgeGroup'].isin(['0-4', '5-14','15-19','20-24'])].sum()

AgeGroup              0-415-1920-245-14
NumberAdmitted                     1044
Admissions_Percent                 3.93
dtype: object

In [34]:
dfcumall[dfcumall['AgeGroup'].isin(['25-44'])].sum()

AgeGroup              25-44
NumberAdmitted         2918
Admissions_Percent       11
dtype: object

In [35]:
dfcumall[dfcumall['AgeGroup'].isin(['45-64'])].sum()

AgeGroup              45-64
NumberAdmitted         7474
Admissions_Percent    28.17
dtype: object

In [36]:
dfcumall[dfcumall['AgeGroup'].isin(['65-74'])].sum()

AgeGroup              65-74
NumberAdmitted         4937
Admissions_Percent    18.61
dtype: object

In [38]:
dfcumall[dfcumall['AgeGroup'].isin(['75-84','85plus'])].sum()

AgeGroup              75-8485plus
NumberAdmitted              10160
Admissions_Percent           38.3
dtype: object

In [42]:
d = {'AgeGroup': ['0-24','25-44','45-64','65-74','75+'], 'NumberAdmitted': [1044,2918,7474,4937,10160], 'Admissions_Percent':[3.9,11.0,28.1,18.6,38.3]}
dfha = pd.DataFrame(data=d)
dfha

  AgeGroup  NumberAdmitted  Admissions_Percent
0     0-24            1044                 3.9
1    25-44            2918                11.0
2    45-64            7474                28.1
3    65-74            4937                18.6
4      75+           10160                38.3

In [43]:
df_eda_hdc = df_dc.merge(dfha, on=['AgeGroup'])
df_eda_hdc = df_eda_hdc[['AgeGroup', 'Cases_Percent','Admissions_Percent','Deaths_Percent']]
df_eda_hdc.to_csv('output_eda_ages.csv')
df_eda_hdc

  AgeGroup  Cases_Percent  Admissions_Percent  Deaths_Percent
0    45-64           26.2                28.1            10.0
1    65-74            5.0                18.6            17.4
2      75+            7.1                38.3            71.6

In [50]:
df_dc1

  AgeGroup   Cases  Cases_Percent  Deaths  Deaths_Percent
0     0-59  253073           83.6     504             6.5
1      60+   49755           16.4    7236            93.5
2     0-74  282726           93.2    2201            28.4
3      75+   20793            6.8    5539            71.6

In [44]:
dfcumall[dfcumall['AgeGroup'].isin(['0-4', '5-14','15-19','20-24', '25-44','45-64', '65-74'])].sum()

AgeGroup              0-415-1920-2425-4445-645-1465-74
NumberAdmitted                                   16373
Admissions_Percent                               61.71
dtype: object

In [45]:
dfcumall[dfcumall['AgeGroup'].isin(['75-84','85plus'])].sum()

AgeGroup              75-8485plus
NumberAdmitted              10160
Admissions_Percent           38.3
dtype: object

In [46]:
h1 = {'AgeGroup': ['0-74','75+'], 'NumberAdmitted': [16373,10160], 'Admissions_Percent':[61.7,38.3]}
df_eda_h1 = pd.DataFrame(data=h1)
df_eda_h1.NumberAdmitted = df_eda_h1.NumberAdmitted.astype(int).round(0)
df_eda_h1

  AgeGroup  NumberAdmitted  Admissions_Percent
0     0-74           16373                61.7
1      75+           10160                38.3

In [ ]:
deathscases

In [47]:
dfcumall[dfcumall['AgeGroup'].isin(['0-4', '5-14','15-19','20-24','25-44'])].sum()

AgeGroup              0-415-1920-2425-445-14
NumberAdmitted                          3962
Admissions_Percent                     14.93
dtype: object

In [48]:
dfcumall[dfcumall['AgeGroup'].isin(['45-64'])].sum()

AgeGroup              45-64
NumberAdmitted         7474
Admissions_Percent    28.17
dtype: object

In [49]:
dfcumall[dfcumall['AgeGroup'].isin(['65-74'])].sum()

AgeGroup              65-74
NumberAdmitted         4937
Admissions_Percent    18.61
dtype: object

In [50]:
dfcumall[dfcumall['AgeGroup'].isin(['75-84','85plus'])].sum()

AgeGroup              75-8485plus
NumberAdmitted              10160
Admissions_Percent           38.3
dtype: object

In [51]:
d = {'AgeGroup': ['0-44','45-64','65-74','75+'], 'NumberAdmitted': [3962,7474,4937,10160], 'Admissions_Percent':[14.9,28.2,18.6,38.3]}
dfha = pd.DataFrame(data=d)
dfha

  AgeGroup  NumberAdmitted  Admissions_Percent
0     0-44            3962                14.9
1    45-64            7474                28.2
2    65-74            4937                18.6
3      75+           10160                38.3

In [52]:
df_eda_hdc = df_dc.merge(dfha, on=['AgeGroup'])
df_eda_hdc = df_eda_hdc[['AgeGroup', 'Cases_Percent','Admissions_Percent','Deaths_Percent']]
df_eda_hdc.to_csv('output_eda_ages.csv')
df_eda_hdc

  AgeGroup  Cases_Percent  Admissions_Percent  Deaths_Percent
0     0-44           61.7                14.9             1.0
1    45-64           26.2                28.2            10.0
2    65-74            5.0                18.6            17.4
3      75+            7.1                38.3            71.6